/* .start{
    background-color: rgb(218, 238, 255);
    width: 100vw;
    height: 100vh;
} */
body{
    background-color: rgb(218, 238, 255) !important;
    font-family: Roboto !important;
}

.start, .section-question, .finish{
    margin: auto;
    background-color: rgb(218, 238, 255);
    width: 98vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#report{
    background-color: rgb(218, 238, 255);
    width: 98vw;
    height: 98vh;
    display: none;
    align-items: center;
}

.advice {
    width: 800px;
    height: 400px;
    /* margin-top: 200px; */
}

/* .middle {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
} */

.resize {
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}

.section-question h1{
    margin-bottom: 20px;
}

input[type='radio'] { 
    transform: scale(2); 
}

.radiobtngroup label{
    font-size: 20px;
    padding-left: 10px;
}